.animated-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.animated-text-line {
  font-family: "Crimson Text serrif";
  color: #a3b4c8;
  opacity: 0;
  margin-bottom: -35px;
}

@media screen and (max-width: 1000px) {
  .animated-text-line {
    margin-bottom: -15px;
  }
}

.animate-right {
  animation: slideFromRight 1.5s ease forwards;
}

.animate-left {
  animation: slideFromLeft 1.5s ease forwards;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
